<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<insert id="insertMember">
		INSERT INTO MEMBER 
		VALUES(#{member_id},
			   #{member_password},
			   #{member_name},
			   #{member_gender},
			   #{member_birthday},
			   #{member_phone},
			   #{member_email},
			   default,
			   default)
	</insert>
	<resultMap type="member" id="memberMap">
		
	</resultMap>
	<select id="selectOneMember" resultMap="memberMap">
		SELECT * FROM MEMBER WHERE MEMBER_ID = #{member_id}
	</select>
	
	<select  id="checkIdDuplicate" resultType="_int">
	SELECT COUNT(*) FROM MEMBER WHERE MEMBER_ID = #{member_id}
	</select>
	
	<update id="updateMember">
	UPDATE MEMBER SET MEMBER_NAME=#{member_name},
					  MEMBER_EMAIL=#{member_email},
					  MEMBER_GENDER=#{member_gender},
					  MEMBER_PHONE=#{member_phone},
					  MEMBER_GRADE=#{member_grade}
	WHERE MEMBER_ID = #{member_id}
	</update>
	
	<select id="totalMember" resultType="_int">
		select count(*) from connect_member
	</select>
	
	<insert id="connectMember">
		insert into connect_member values(#{member_id},#{member_name},sysdate)
	</insert>
	
	<delete id="deleteMember">
		delete connect_member where member_id=#{memberId}
	</delete>
	
	
</mapper>
