<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="purchase">
	<select id="selectPCList" resultType="purchaseComplete">
		select * from purchase_complete where member_id=#{memberId}
	</select>
	
	<select id="selectPurchaseOne" resultType="basketProduct">
		select * from basket b left join product p on b.product_no = p.product_no left join product_file f on p.product_no = f.product_no left join brand br on p.brand_no = br.brand_no where basket_no = #{basketNo}
	</select>
	
	<select id="selectMemberInfo" resultType="memberAddress">
		select * from member left join address using(member_id) where member_id=#{memberId} and address_level=1
	</select>
	
	<select id="selectAddrList" resultType="address">
		select * from address where member_id=#{memberId} order by address_level
	</select>
	
	<insert id="insertPurchase">
		insert into purchase values(seq_purchase_no.nextval, #{product_no}, #{member_id}, sysdate, #{product_amount}, #{address}, #{zip_code})
	</insert>	
</mapper>
