<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="purchase">
	<select id="selectPCList" resultType="purchaseComplete">
		<!-- select * from purchase_complete pc join product p on pc.product_no = p.product_no left join product_file f on pc.product_no = f.product_no left join brand b on p.brand_no = b.brand_no where pc.member_id = #{member_id} -->
		select pc.*, p.*, f.*, b.*, trunc((sysdate - pc.purchase_date)*24*60*60) diffTime from purchase_complete pc join product p on pc.product_no = p.product_no left join product_file f on pc.product_no = f.product_no left join brand b on p.brand_no = b.brand_no where pc.member_id = #{member_id}
	</select>
	
	
	<select id="selectPurchaseOne" resultType="basketProduct">
		select * from basket b left join product p on b.product_no = p.product_no left join product_file f on p.product_no = f.product_no left join brand br on p.brand_no = br.brand_no where basket_no = #{basketNo}
	</select>
	
	<select id="selectMemberInfo" resultType="memberAddress">
		select * from member left join address using(member_id) where member_id=#{memberId} and address_level=1
	</select>
	
	<select id="selectAddrList" resultType="address">
		select * from address where member_id=#{memberId} order by address_level
	</select>
	
	<insert id="insertPurchase">
		insert into purchase values(seq_purchase_no.nextval, #{product_no}, #{member_id}, sysdate, #{product_amount}, #{address}, #{zip_code}, #{imp_uid})
		<selectKey keyProperty="purchase_no" resultType="_int" order="AFTER">
        	select seq_purchase_no.currval from dual
      	</selectKey>
	</insert>	
	
	<select id="buyNow" resultMap="search">
		select * from product p left join product_file f on p.product_no = f.product_no left join brand br on p.brand_no = br.brand_no where p.product_no = #{productNo}
	</select>
	<resultMap type="product" id="search" >
		<result column="product_no" property="productNo"/>
		<result column="product_name" property="productName"/>
		<result column="brand_no" property="brandNo"/>
		<result column="brand_name" property="brandName"/>
		<result column="price" property="price"/>
		<result column="reg_date" property="regDate"/>
		<result column="member_id" property="memberId"/>
		<result column="product_file_no" property="productFileNo"/>
		<result column="original_filename" property="originalFileName"/>
		<result column="renamed_filename" property="renamedFileName"/>
		<result column="file_reg_date" property="fileRegDate"/>
		<result column="pro_category_no" property="proCategoryNo"/>
		<result column="category_no" property="categoryNo"/>
		<result column="category_name" property="categoryName"/>
		<result column="parent_category" property="parentCategory"/>
		<result column="category_level" property="categoryLevel"/>
	</resultMap>

	<insert id="insertPurchaseComplete">
		insert into purchase_complete values(seq_purchase_com_no.nextval, #{purchase_no}, #{product_no}, #{member_id}, default, #{product_amount}, #{address}, #{zip_code}, #{imp_uid}, #{total_price}, #{membership})
	</insert>	
	
	<update id="updateProductPurchase" statementType="CALLABLE">
 		{call proc_purchase_amount(#{product_no}, #{product_amount})}
	</update>
	
	<delete id="deletePurchase">
		delete from purchase where imp_uid = #{imp_uid}
	</delete>
	
	<delete id="deletePurchaseComplete">
		delete from purchase_complete where imp_uid = #{imp_uid}
	</delete>
	
	<!-- 180705 오후 13:00 추가 by dh1ee  -->
	<select id="selectAPCList" resultType="purchaseComplete">
		select * from purchase_complete pc join product p on pc.product_no = p.product_no left join product_file f on pc.product_no = f.product_no left join brand b on p.brand_no = b.brand_no order by purchase_no desc
	</select>
	
	 <select id="selectTotalPurchase" resultType="_int">
      select count(*) from purchase_complete   
      </select>
      
      <select id="selectTotalCancel" resultType="_int">
      select count(*) from purchase_cancel  
      </select>
	
	<select id="selectAPCancelList" resultType="purchaseComplete">
		select * from purchase_cancel pc join product p on pc.product_no = p.product_no left join product_file f on pc.product_no = f.product_no left join brand b on p.brand_no = b.brand_no order by cancel_date
	</select>
	
		<select id="selectPurchaseCompleteListCount" resultType="_int">
		select count(*) from purchase_complete where member_id = #{member_id}
	</select>
	
	<select id="selectPurchaseCompleteList" resultType="purchaseComplete">
		select pc.*, p.*, f.*, b.*, trunc((sysdate - pc.purchase_date)*24*60*60) diffTime from purchase_complete pc join product p on pc.product_no = p.product_no left join product_file f on pc.product_no = f.product_no left join brand b on p.brand_no = b.brand_no where pc.member_id = #{member_id} order by pc.purchase_date desc
	</select>	
</mapper>
