<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="freeboard">

<select id="selectfreeBoardList" resultType="freeboard">
	select a.*,(select count(*) from tbl_comment where free_board_no=a.free_board_no) as bc_count 
	from free_board a 
	order by a.free_board_no desc
</select>

<select id="selectfreeBoardListCount" resultType="_int">
	select count(*) from free_board
</select>

<select id="selectfreeBoardOne" resultType="freeboard">
	select * from free_board where free_board_no=#{no}
</select>

<select id="selectfreeBoardFileList" resultType="freeboardFile">
	select * from free_board_file where free_board_no=#{no}
</select>

<select id="selectfreeBoardCommentList" resultType="freeboardComment">
	 select comment_no,member_id,free_board_no,parent_comment,comment_content,
	 to_char(comment_enrolldate,'yyyy-mm-dd hh24:mi:ss') as comment_enrolldate,
	 to_char(comment_update_date,'yyyy-mm-dd hh24:mi:ss') as comment_update_date,comment_level,parent_id
	 from tbl_comment
	 where free_board_no=#{no}
	 start with comment_level =1
	 connect by prior comment_no = parent_comment
	 order siblings by comment_enrolldate
</select>

<select id="totalCommentCount" resultType="_int">
	select count(*) from tbl_comment where free_board_no=#{no}
</select>

<insert id="insertComment">

	insert into tbl_comment(comment_no,member_id,free_board_no,
	<if test="parent_comment !=0">parent_comment,</if>comment_content,comment_enrolldate,comment_level
	<if test="parent_id !=''">,parent_id</if>)
	values(seq_comment_no.nextval,#{member_id},#{free_board_no},
	<if test="parent_comment !=0">#{parent_comment},</if>#{comment_content},sysdate,#{comment_level}
	<if test="parent_id !=''">,#{parent_id}</if>)


	<selectKey 
		keyProperty="comment_no,member_id,free_board_no,parent_comment,comment_content,comment_level,comment_enrolldate,parent_id"
		order="AFTER" resultType="freeboardComment">

		select comment_no,member_id,<if test="parent_comment != null">parent_comment,</if>free_board_no,comment_content,comment_level,
		to_char(comment_enrolldate,'yyyy-mm-dd hh24:mi:ss') as comment_enrolldate
		<if test="parent_id !=null">,parent_id</if>
		from tbl_comment
		where comment_no=(select last_number-1 from user_sequences where sequence_name=upper('seq_comment_no'))

	</selectKey>
</insert>


<select id="selectLevelKinds" resultType="String">
	select distinct level_
	from ttest
</select>

<select id="selectContent" resultType="Map">
	select *
	from ttest
	order by level_
</select>

<insert id="insertBoard">
	insert into free_board
	values(seq_freeboard_no.nextval,#{member_id},#{free_comment},sysdate,#{free_board_title})
	
	<selectKey keyProperty="free_board_no" order="AFTER" resultType="_int">
		select seq_freeboard_no.currval from dual
	</selectKey>
	
</insert>

<insert id="uploadPhoto">
	insert into uploadPhoto
	values(#{member_id},#{renamedFilename},sysdate)
</insert>

<select id="uploadList" resultType="map">
	select renamed_Filename
	from uploadPhoto
	where member_id=#{memberId}
</select>

<insert id="insertFile">
	insert into free_board_file
	values(seq_freeboard_file_no.nextval,#{free_board_no},null,#{renamed_filename})
</insert>

<delete id="deleteuploadPhoto">
	delete uploadPhoto where member_id=#{username}
</delete>
<delete id="deleteBoard">
	delete free_board where free_board_no=#{no}
</delete>

</mapper>
