<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="freeboard">

<select id="selectfreeBoardList" resultType="freeboard">
	select * from free_board order by free_board_no desc
</select>

<select id="selectfreeBoardListCount" resultType="_int">
	select count(*) from free_board
</select>

<select id="selectfreeBoardOne" resultType="freeboard">
	select * from free_board where free_board_no=#{no}
</select>

<select id="selectfreeBoardFileList" resultType="freeboardFile">
	select * from free_board_file where free_board_no=#{no}
</select>

<select id="selectfreeBoardCommentList" resultType="freeboardComment">
	 select comment_no,member_id,free_board_no,parent_comment,comment_content,
	 to_char(comment_enrolldate,'yyyy-mm-dd hh24:mi:ss') as comment_enrolldate,
	 to_char(comment_update_date,'yyyy-mm-dd hh24:mi:ss') as comment_update_date,comment_level
	 from tbl_comment
	 where free_board_no=#{no}
	 start with comment_level =1
	 connect by prior comment_no = parent_comment
	 order siblings by comment_enrolldate
</select>

<select id="totalCommentCount" resultType="_int">
	select count(*) from tbl_comment where free_board_no=#{no}
</select>

<insert id="insertComment">

	<choose>
		<when test="#{parent_comment eq 0}">
		insert into tbl_comment(comment_no,member_id,free_board_no,parent_comment,comment_content,comment_enrolldate,comment_level)
		values(seq_comment_no.nextval,#{member_id},#{free_board_no},null,#{comment_content},sysdate,#{comment_level})	
		</when>
		<otherwise>
		insert into tbl_comment(comment_no,member_id,free_board_no,parent_comment,comment_content,comment_enrolldate,comment_level)
		values(seq_comment_no.nextval,#{member_id},#{free_board_no},#{parent_comment},#{comment_content},sysdate,#{comment_level})
		</otherwise>
	</choose>
	<selectKey 
		keyProperty="comment_no,member_id,free_board_no,parent_comment,comment_content,comment_level,comment_enrolldate"
		order="AFTER" resultType="freeboardComment">
		<choose>
			<when test="parent_comment==null">
			select comment_no,member_id,free_board_no,comment_content,comment_level,
			to_char(comment_enrolldate,'yyyy-mm-dd hh24:mi:ss') as comment_enrolldate
			from tbl_comment
			where comment_no=(select last_number-1 from user_sequences where sequence_name=upper('seq_comment_no'))
			</when>
			<otherwise>
			select comment_no,member_id,free_board_no,comment_content,comment_level,
			to_char(comment_enrolldate,'yyyy-mm-dd hh24:mi:ss') as comment_enrolldate
			from tbl_comment
			where comment_no=(select last_number-1 from user_sequences where sequence_name=upper('seq_comment_no'))
			</otherwise>
		</choose>
	</selectKey>
</insert>


</mapper>
