<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="product">
	<select id="productSearch" resultMap="search">
	select p.product_no,p.product_name,b.brand_no,b.brand_name,p.price,p.reg_date,p.member_id,pf.product_file_no,pf.original_filename,pf.renamed_filename,pf.file_reg_date,pc.pro_category_no,pc.category_no,c.category_name,c.parent_category,c.category_level
	from product p,product_file pf,brand b,category c,product_category pc 
	where p.product_no=pc.product_no 
	and p.brand_no=b.brand_no 
	and p.product_no=pf.product_no 
	and pc.category_no=c.category_no 
	and p.product_name like '%'||#{searchKeyword}||'%'
	</select>
	<resultMap type="product" id="search" >
		<result column="product_no" property="productNo"/>
		<result column="product_name" property="productName"/>
		<result column="brand_no" property="brandNo"/>
		<result column="brand_name" property="brandName"/>
		<result column="price" property="price"/>
		<result column="reg_date" property="regDate"/>
		<result column="member_id" property="memberId"/>
		<result column="product_file_no" property="productFileNo"/>
		<result column="original_filename" property="originalFileName"/>
		<result column="renamed_filename" property="renamedFileName"/>
		<result column="file_reg_date" property="fileRegDate"/>
		<result column="pro_category_no" property="proCategoryNo"/>
		<result column="category_no" property="categoryNo"/>
		<result column="category_name" property="categoryName"/>
		<result column="parent_category" property="parentCategory"/>
		<result column="category_level" property="categoryLevel"/>
	</resultMap>
</mapper>
