@CHARSET "UTF-8";

/* 없는듯 하여 추가해봅니다-상현 */
div.blog-container{
    width:980px;
    margin:0 auto;
    border: 1px solid lightgray;
}
div.search-div{
	width:500px;
	margin:0 auto;
}
/* 메인페이지 */

html,body{
    min-height:100%;
}
div#main-container{
    min-width:100%;
    position: relative;
}
nav.nav-bar{
    width:980px;
    height:150px;
    margin: 0 auto;
    display: block;
}
div.nav-bar-wrapper{
    position: relative;
    width:980px;
    height:110px;
    margin:0 auto;
}
a.nav-bar-logo{
    position: absolute;
    top: 60px;
    display: inline-block;
    font-size: 30px;
    color:pink;
    font-weight: bold;
}
ul.nav-bar-site{
    right:0;
    top:20px;
    position: absolute;
    list-style-type: none;
}
li.nav-bar-site-li{
   list-style-type: none;
   display: inline-block;
   padding: 0 14px;
}

fieldset.nav-search{
    position: absolute;
    top: 65px;
    left:230px;
    width:900px;
}

ul.nav-bar-list{
    position: absolute;
    top:100px;
    left:200px;
    height:30px;
}
div.nav-bar-btn{
    position: absolute;
    top: 65px;
    right:0;
}
div.main-img-wrapper{
    background: lightblue;
    width:100%;
    height:500px;
}
div.main-img{
    width:980px;
    height:500px;
    margin:0 auto;
}
img.main-img-one{
    width:784px;
    height:500px;
}

nav.nav-list{
    width:980px;
    margin:0 auto;
}
div.nav-list-wrapper{
    position: relative;
    width:980px;
    margin:0 auto;
}
h2{
    text-align: center;
}

div.main-category{
    width:196px;
    height:500px;
    border: 1px lightgray solid;
    background: white;
    position: relative;
    float: left;
}
div.main-category-img{
    width:784px;
    height:500px;
    overflow: hidden;
    position: relative;
    float: left;
}
div.main-li-container{
    width:980px;
    margin:0 auto;
    position: relative;
    overflow: hidden;
    border:1px solid lightgray;
}

ul.main-ul{
    list-style-type: none;
}

li.main-li:first-child{
    margin:0;
}
li.main-li:last-child{
    border-bottom: 0px;
}
li.main-li:nth-child(3n){
    border-bottom: 1px solid lightgray;
}
li.main-li:nth-child(3n+1){
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
li.main-li:nth-child(3n+2){
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

li.main-li{
    width:326px;
    height:400px;
    float: left;
    list-style: none;
    
}

li.main-li img{
    width:320px;
    height:250px;
}
li.main-li div.ptext{
   font-size: 20px;
   width:100px;
   padding:5px;
}
li.main-li div.pprice{
   font-size: 20px;
   width:100px;
   padding:5px;
}
div.buy-btn{
    text-align: center;
    display: none;
}
footer{
    clear: both;
    position: relative;
    width:100%;
    background: lightgray;
}
footer p {
    margin:0 auto;
    width:980px;
    text-align: left;
}

/* 장바구니 div */
div.tbl-container{
    width:980px;
    margin:0 auto;
}
/* 장바구니 단계 이미지 div*/
div.step-buy{
    width:980px;
    margin:0 auto;
}
td.tbl-td {
	vertical-align: middle !important;
}
