@CHARSET "UTF-8";
/*검색키워드 자동완성*/
/* div#autoDiv{
	min-width:365px;
	min-height:30px;
	border:1px solid gray;
	display:inline-block;
	padding:0;
	margin:0;
	background:yellow;
	position:absolute;
	right:54px;
	bottom:-25px;
	
} */
/*블로그  */
div.blog-container div.blogtext-container img.blogimg{
	display:inline-block;
	height: 40px;
}
div.blog-container div.blogtext-container{
	width:100%;
	background:rgb(0,199,60);
}
div.blog-container .blogtext{
	height: 40px;
	width: 60%;
	border:2px solid rgb(0,199,60);
	margin-top:2px;
}
section#content{
	width:980px;
	margin:0 auto;
}
button.btn-default{
	bottom:2px;
}
ul#autoComplete{
	min-width:205px;
	/*padding:0 10px;*/
	padding:0;
	list-style:none;
	position:absolute;
	cursor:pointer;
	top:50px;
	background:rgb(255,192,203);
	border-radius: 5px 5px 10px 10px;
	border:2px solid rgb(1,71,131);
}
ul#autoComplete li{
	padding:10px;
}
ul#autoComplete li.sel{
	background:rgb(0,255,255);
	color:white;
	right:30px;
	border-radius: 10px 10px 10px 10px;
}
span.srchval{
	color:red;
}
/* 없는듯 하여 추가해봅니다-상현 */
div.blog-container{
    width:980px;
    margin:0 auto;
    border: 1px solid lightgray;
}
div.search-div{
	border:1px solid lightgray;
	width:500px;
	margin:0 auto;
	border-radius: 10px;
	text-align:center;
	display: none;
}
div.search-div select{
	margin-left:25%;
	margin-bottom:5px;
}
/* 메인페이지 */

html,body{
    min-height:100%;
}
div#main-container{
    min-width:100%;
    position: relative;
    min-height:1500px;
    top:38px;
    margin-bottom: 50px;
}
/* nav.nav-bar{
    width:980px;
    height:150px;
    margin: 0 auto;
    display: block;
}
div.nav-bar-wrapper{
    position: relative;
    width:980px;
    height:110px;
    margin:0 auto;
}
a.nav-bar-logo{
    position: absolute;
    top: 60px;
    display: inline-block;
    font-size: 30px;
    color:pink;
    font-weight: bold;
}
ul.nav-bar-site{
    right:0;
    top:20px;
    position: absolute;
    list-style-type: none;
}
li.nav-bar-site-li{
   list-style-type: none;
   display: inline-block;
   padding: 0 14px;
}

fieldset.nav-search{
    position: absolute;
    top: 65px;
    left:230px;
    width:500px;
}

ul.nav-bar-list{
    position: absolute;
    top:100px;
    left:200px;
    height:30px;
    margin-top:10px;
}
div.nav-bar-btn{
    position: absolute;
    top: 65px;
    right:0;
} */
div.main-img-wrapper{
    background: lightblue;
    width:100%;
    height:450px;
}
div.main-img{
    width:980px;
    height:450px;
    margin:0 auto;
}
img.main-img-one{
    width:784px;
    height:450px;
}

nav.nav-list{
    width:980px;
    margin:0 auto;
}
div.nav-list-wrapper{
    position: relative;
    width:980px;
    margin:0 auto;
}
h2{
    text-align: center;
}
div.searchbtn{
	text-align: center;
}
div.main-category{
    width:196px;
    height:450px;
    border: 1px lightgray solid;
    background: white;
    position: relative;
    float: left;
}
div.main-category-img{
    width:784px;
    height:450px;
    overflow: hidden;
    position: relative;
    float: left;
}
div.main-li-container{
    width:980px;
    margin:0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    
}
div.product-container{
	display:inline-block;
	font-family: 'Jua', sans-serif;
}
.new-product-card-master{
	width:300px;
	background:#1b5d8d;
	color:white;
}
.hot-product-card-master{
	width:300px;
	background:#f7889c;
	color:white;
}
.w-100 {
  
    /* text-align: center; */
    margin: 0 auto;
}
ul.main-ul{
    list-style-type: none;
}

li.main-li:first-child{
    margin:0;
}
li.main-li:last-child{
    border-bottom: 0px;
}
li.main-li:nth-child(3n){
    border-bottom: 1px solid white;
}
li.main-li:nth-child(3n+1){
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}
li.main-li:nth-child(3n+2){
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

li.main-li{
    width:326px;
    height:450px;
    float: left;
    list-style: none;
    padding-top:10px;
    padding-left:10px;
}

li.main-li img{
    width:300px;
    height:230px;
}
li.main-li div.ptext{
   font-size: 30px;
   color:red;
   /* width:100px; */
   padding:5px;
}
li.main-li div.pprice{
   font-size: 20px;
   width:100px;
   padding:5px;
}
div.buy-btn{
    text-align: center;
}
footer{
    clear: both;
    position: relative;
    width:100%;
    background: lightgray;
}
footer p {
    margin:0 auto;
    width:980px;
    text-align: left;
}

/* 장바구니 div */
div.tbl-container{
    width:980px;
    margin:0 auto;
}
/* 장바구니 단계 이미지 div*/
div.step-buy{
    width:980px;
    
}
td.tbl-td {
	vertical-align: middle !important;
}


div#chatting-room{
	border:1px solid black; 
	position:fixed; 
	width:350px; 
	height:582px;
	bottom:0; 
	right:0;
	z-index:100;
	background:white;
}
div#chatting-content{
	width:348px;
	height:445px;
	overflow-y:scroll;
}

.nav-item{
	margin-left:10px;
	margin-right:10px;
}
.nav-item>a{
    font-size: 18px;
    color: white;
}

.nav-bar-site-li>a{
	color:#266fbd;
}
.inline-hyelin {
	display: inline !important;
}
table#info2-hyelin {
	width: 80%;
}
table#info2-hyelin td {
	padding: 5px;
}
.red-hyelin {
	color: red;
	font-weight: bold;
}
.h3-hyelin {
	font-size: 25px;
	/* font-weight: bold;  */
}
.right-hyelin {
	float: right;
}
div#addrList-hyelin {
	width: 800px;
	margin: 0 auto;
}
div#popup_btn-hyelin {
	margin: 0 auto;
	width: 120px;
}
div#searchContainer-hyelin {
	width: 980px;
	margin: 0 auto;
}

img.prod-img-hyelin {
	width: 280px;
	height: 280px;
}
div.card-body{
	height: 400px;
	border-radius: 5px;
}
div.card-hyelin {
	width: 320px;
	display: inline-block;
	position: relative;
	height: 400px;
	padding:0;
	margin-bottom:5px;
}

p.card-text-hyelin {
	font-size: 20px;	
}

div.btnDiv-hyelin {
	opacity: 0;
	position: absolute;
	top: 120px;
	margin: 0 auto;
	left: 80px;
}

div.card-hyelin:hover div.btnDiv-hyelin {
	opacity: 1;
	z-index: 20;
}

div.card-body:hover img.prod-img-hyelin{
	opacity: 0.5;
}

div.btnDiv-hyelin img {
	width: 70px;
	border-radius: 50px;
}

label.label-bgWhite-hyelin {
	background: #fff !important;
	width: 100px;
}

select.select-hyelin {
	width: 120px;
}

div#detailContainer-hyelin {
	width: 980px;
	margin: 0 auto;
}

img.btnImg-hyelin {
	cursor: pointer;
}

.right10-hyelin {
	margin-right: 10px !important;
}
.btn-transparent-hyelin {
	background: transparent;
	border-color: transparent;
}
.card-title {
	margin-top: 10px;
}
.bold-hyelin {
	font-weight: bold;
}
.fontSize30-hyelin{
	font-size: 30px;
}
.colorGray-hyelin {
	color: gray;
}
.alignCenter-hyelin {
	text-align: center;
}

.carousel-master{
	position: relative;
    top: -25px;
	margin: auto;
    text-align: center;
    width: 100%;
    height: 530px;
    background:lavenderblush;
}
.carousel-inner-master{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
	
}
.carousel-item-master{
	height:530px;
	
}
.main-event-img-master{
	height:530px;
}
.login-btn-master{
	margin-left:30px;

.focus-hyelin:focus {
	box-shadow: none;
}

.border-hyelin {
	border: 1px solid #ced4da;
}
.border0-hyelin {
	border : 0;
}
.width450-hyelin {
	width: 450px;
}
#new-title-master{
    font-style: italic;
    font-size: 25px;
    color: dodgerblue;
}
div.product-brand-master{
	font-size:20px;
	color:red;
}

div.product-title-master{
	
	
}
div.product-price-master{
	
	
}
div.new-product-container-master{
	max-width: 18rem;
	border:1px solid black;
}
.w3-lobster {
    font-family: "Lobster", serif;
}
div.new-product-card-master{
	background:red!important;
	
}
table.table-event-master{
	position:relative;
	top:20px;
	width:980px;
	margin:0 auto;
}

/* section{
	position:relative;
	top:100px;
}
 */
div.mypage{
	width:100%;
	margin:0;
	
	min-height:780px;
}

